# Terraform state files
terraform.tfstate
terraform.tfstate.*

# Terraform plan files
*.tfplan

# Terraform crash logs
crash.log

# Terraform override files
*.override.tf
*.override.tf.json

# Terraform variables files
*.tfvars
*.tfvars.json

# Terraform lock file
.terraform.lock.hcl

# Local Terraform directories
.terraform/

# .DS_Store is a macOS file that can be safely ignored
.DS_Store

# Secrets or sensitive files (if any)
*.pem
*.key